body {
    overflow: hidden;
    background-color: black;
    font-family: 'Myriad Pro Light';
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .0s;
    transition-property: opacity;
}

.carousel-item {
    background: url('/static/background.jpg');
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}

.alert-message {
    font-size: 38px;
    text-align: center;
    padding: 100px;
}

.weather {
    flex-grow: 1;
}

.weather-card {
    color: white;
    text-align: center;
}

.weather-card h3 {
    font-size: 1.1vw;
}

.weather-card h4 {
    font-size: 1.9vw;
}

.sidebar {
    flex-grow: 0;
    text-align: center;
    padding: 25px;
    background-size: cover !important;
    width: -moz-available;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

.datetime h1 {
    font-size: 4.5vw;
    line-height: 140%;
}

.datetime h2 {
    font-size: 2.5vw;
    line-height: 140%;
}

.sidebar-inner {
    border: white;
    border-style: double;
    height: 100%;
}

.datetime {
    flex-grow: 1;
    background-color:black;
    padding: 20px;
}

.weather-outer {
    flex-grow: 1;
    background-color:black;
    text-align: right;
}

@font-face {
    font-family: 'Myriad Pro Light';
    src: url('fonts/MyriadPro-Light.woff2') format('woff2'),
        url('fonts/MyriadPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro Cond';
    src: url('fonts/MyriadPro-Cond.woff2') format('woff2'),
        url('fonts/MyriadPro-Cond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro Semibold Cond';
    src: url('fonts/MyriadPro-SemiboldCond.woff2') format('woff2'),
        url('fonts/MyriadPro-SemiboldCond.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
