html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.btn {
    margin-bottom: 0.5em;
}
.btn-primary {
    color: white;
    background-color: #3e1952;
    border: none;
}
.btn-primary:hover, .nav-link:hover {
    color: grey;
}
.btn-outline-primary {
    color: #3e1952;
    border-color: #3e1952;
}
.btn-outline-primary:hover {
    color: black;
    background-color: #e3bf42;
    border-color: #e3bf42;
}
.sidebar {
    background: #3e1952;
    width: 14vw;
    min-height: 100vh;
}
.nav-link.active {
    color: black !important;
    background-color: white !important;
    border: none !important;
}
.nav-link, .app-title {
    color: #d4d4d4;
    padding: 0.5em;
    margin-bottom: 0;
    margin-left: 0.2em;
    margin-right: 0.2em;
}
.nav-link i {
    padding: 8px;
}
.nav-logo {
    width: 5em;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
.topnav {
    height: 50px;
    color: white;
    background: #4b4d4e;
}
.topnav a {
    color: white;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}
.content-box {
    border-radius: 12px 0 0 12px;
    min-height: 95vh;
    background: white;
}
.badge-info {
    background-color: grey;
}
.signs li {
    margin: auto;
    padding: 3px;
}
.preview {
    width: 100%;
}

.form-group {
    padding-top: 4px;
    padding-bottom: 4px;
}

@font-face {
    font-family: 'Myriad Pro Light';
    src: url('../webfonts/MyriadPro-Light.woff2') format('woff2'),
        url('../webfonts/MyriadPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Myriad Pro Cond';
    src: url('../webfonts/MyriadPro-Cond.woff2') format('woff2'),
        url('../webfonts/MyriadPro-Cond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../webfonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../webfonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Myriad Pro Semibold Cond';
    src: url('../webfonts/MyriadPro-SemiboldCond.woff2') format('woff2'),
        url('../webfonts/MyriadPro-SemiboldCond.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}