<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | CampusVision</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/solid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"/>
  </head>
  <body>
    <main style="max-width: none; display: flex; flex-wrap: nowrap;">
      <div class="sidebar d-flex flex-column flex-shrink-0 text-white">
        <img class="nav-logo" src="{{ url_for('static', filename='/logos/Asbury-Logo-5.png') }}">
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="/" class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page">
              <i class="fa-solid fa-gauge"></i>
              Dashboard
            </a>
          </li>
          <li>
            <a href="/upload" class="nav-link {% if request.path == '/upload' %}active{% endif %}">
              <i class="fa fa-upload"></i>
              Upload
            </a>
          </li>
          <li>
            <a href="/manager" class="nav-link {% if request.path == '/manager' %}active{% endif %}" aria-current="page">
              <i class="fa fa-tasks"></i>
              Slide Manager
            </a>
          </li>
          <li>
            <a href="/messages" class="nav-link {% if request.path == '/messages' %}active{% endif %}" aria-current="page">
              <i class="fa fa-comment"></i>
              Messages
            </a>
          </li>
          <li>
              <a href="#" class="nav-link {% if request.path == '/admin' %}active{% endif %}">
                <i class="fa fa-cog"></i>
                Admin
              </a>
              <ul class="list-unstyled nav-link" style="padding-top: 0; padding-bottom: 0;">
                <li>
                  <a href="/moderate" class="nav-link {% if request.path == '/moderate' %}active{% endif %}"><i class="fa fa-thumbs-up"></i>Moderate <span class="badge badge-info">{{ mod_count }}</span></a>
                </li>
                <li>
                  <a href="/manager/users" class="nav-link {% if request.path == '/manager/users' %}active{% endif %}"><i class="fa fa-user"></i>Users</a>
                </li>
                <li>
                  <a href="/manager/screens" class="nav-link {% if request.path == '/manager/screens' %}active{% endif %}"><i class="fa fa-tv"></i>Screens</a>
                </li>
                <li>
                  <a href="/settings" class="nav-link {% if request.path == '/settings' %}active{% endif %}"><i class="fa fa-cog"></i>Settings</a>
                </li>
              </ul>
          </li>
          <li>
            <a href="/alerts" class="nav-link {% if request.path == '/alerts' %}active{% endif %}" style="color: crimson;">
              <i class="fa fa-exclamation-triangle"></i>
              Emergency Alerts
            </a>
          </li>
        </ul>
        <hr>
        <div class>
          <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" class="small p-3 text-white">Licence</a>
          <a href="https://github.com/JohnsonLM/CampusVision" class="small p-3 text-white">Github</a>
        </div>
        <small class="p-3">Copyright © 2023 Asbury University<br>All Rights Reserved</small>
      </div>
      <div class="main-body d-flex flex-column" style="flex-grow: 1;">
        <nav class="topnav navbar">

          <a href="/profile" class="ms-auto nav-link">
            <i class="fa fa-user"></i>
            {{ name }}
          </a>
          <a href="/help" class="nav-link">
            <i class="fa fa-life-ring"></i> Help</a>
          <a href="/auth/logout" class="mr-auto nav-link">
            <i class="fa fa-sign-out"></i>
            Log Out
          </a>
        </nav>
          <div class="content-box" style="padding: 20px;">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert alert-info">
                {% for message in messages %}
                  <p class="m-0"><i class="fa fa-warning fa-lg"></i> {{ message }}</p>
                {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
          <h3 style="margin-bottom: 1rem;"><strong>{{ title }}</strong></h3>
          {% block content %}{% endblock %}
          </div>
      </div>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", function(){
        document.querySelectorAll('.sidebar .nav-link').forEach(function(element){

          element.addEventListener('click', function (e) {

            let nextEl = element.nextElementSibling;
            let parentEl  = element.parentElement;

              if(nextEl) {
                  e.preventDefault();
                  let mycollapse = new bootstrap.Collapse(nextEl);

                  if(nextEl.classList.contains('show')){
                    mycollapse.hide();
                  } else {
                      mycollapse.show();
                      // find other submenus with class=show
                      var opened_submenu = parentEl.parentElement.querySelector('.submenu.show');
                      // if it exists, then close all of them
                      if(opened_submenu){
                        new bootstrap.Collapse(opened_submenu);
                      }
                  }
              }
          }); // addEventListener
        }) // forEach
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='/js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script src="https://unpkg.com/gridjs/plugins/selection/dist/selection.umd.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
