{% extends "base.html" %}

{% block content %}<html>
   <form action = "/edit" method = "POST" enctype = "multipart/form-data">
      <div class="textbox">
         <label for="id_number">Slide ID</label>
         <input class="form-control" id="id_number" type="text" placeholder="01" name="id_number" onfocus="this.placeholder = '', onblur=" this.placeholder='World backup Day'">
      </div>
      <br>
      <div class="textbox">
         <label for="title_text">Slide Title</label>
         <input class="form-control" id="title_text" type="text" placeholder="World Backup Day" name="title_text" onfocus="this.placeholder = '', onblur=" this.placeholder='World backup Day'">
      </div>
      <br>
      <p>Re-upload Image</p>
      <p>Start Date</p>
      <p>End Date</p>
      <p>Feed Assignment</p>
      <br>
      <input class="btn btn-primary" type="submit" onclick="validateForm()" name="submit" value="Submit">
   </form>
{% endblock %}