{% extends "base.html" %}
{% block content %}
<p>For help, contact the Service Desk at <a href="mailto:service.desk@asbury.edu">service.desk@asbury.edu</a> or visit <a href="https://service.asbury.edu/">Service.asbury.edu</a></p>
<hr>
<h2>Resources</h2>
<p>These documents will provide the skills and knowledge needed to make well-designed and effective digital signage.</p>
            <ul>
                <li><a href="https://medium.com/@anahatrawal/10-basic-principles-of-graphic-design-b74be0dbdb58" target="_blank">Principles of Design</a></li>
                <li><a href="https://medium.freecodecamp.org/fundamental-design-principles-for-non-designers-ad34c30caa7" target="_blank">Design Fundamentals</a></li>
                <li><a href="https://www.youtube.com/watch?v=r0oF81xe440" target="_blank">Layout &amp; Composition: Components of an Image</a></li>
                <li><a href="https://www.youtube.com/watch?v=fENrhRBFS_I" target="_blank">Layout &amp; Composition: Leading the viewer's eye</a></li>
                <li><a href="https://blog.thepapermillstore.com/design-principles-alignment/" target="_blank">Layout &amp; Composition: Using Alignment</a></li>
                <li><a href="https://blog.prototypr.io/importance-of-white-space-in-design-5a40c0e65bfd" target="_blank">Layout &amp; Composition: Using White Space</a></li>
                <li><a href="https://www.youtube.com/watch?v=IzED6Q59DAY" target="_blank">Color: Basics</a></li>
                <li><a href="https://www.youtube.com/watch?v=Qj1FK8n7WgY" target="_blank">Color: Understanding Color</a></li>
                <li><a href="https://www.youtube.com/watch?v=QrNi9FmdlxY" target="">Typography: Basics</a></li>
                <li><a href="https://material.io/design/typography/understanding-typography.html#" target="_blank">Typography: Understanding Type</a></li>
                <li><a href="https://www.youtube.com/watch?v=L3dPrrqO5Rg" target="_blank">Typography: Type Setting</a></li>
                <li><a href="https://www.youtube.com/watch?v=pFyOznL9UvA" target="_blank">Photoshop: Basics</a></li>
                <li><a href="https://www.youtube.com/watch?v=UqjZR_v37K8" target="_blank">Illustrator: Basics</a></li>
                <li><a href="https://www.youtube.com/watch?v=UvWfuNnuJkg&amp;list=PL1t9c--IJQQ_eU6QulIVVfpNjJcIZIEtb" target="_blank">Affinity Designer: Basics</a></li>
            </ul>
{% endblock %}
