{% extends "base.html" %}
{% block content %}
<div style="display:flex; flex-wrap: wrap;">
    <div class="m-2 card" style="flex-grow: 1">
        <div class="card-header">
            <strong class="card-title">Digital Signage Policies</strong>
        </div>
        <div class="card-body">
            <ul>
              <li>Slides must be in the 16:9 aspect ratio and landscape orientation</li>
              <li>Slides must have dimensions of at least 1920x1080.</li>
              <li>Slides must be under 16mb in size.</li>
              <li>Designs must be submitted in either JPG or PNG file format.</li>
              <li>Signs should follow good design principles (easy to read, sufficient contrast, not too busy, etc.).</li>
              <li>All signs are subject to approval and redesign by staff based on these standard and general graphic design standards.</li>
              <li>Signs should be submitted as well in advance as possible to ensure time for approval and possible revision.</li>
              <li>If a sign has a specific date is must be posted or taken down, be sure to communicate this with staff. </li>
            </ul>
        </div>
    </div>
    <div class="m-2 card" style="flex-grow: 1; max-width: 700px;">
        <div class="card-header">
            <strong class="card-title">Feeds</strong>
        </div>
        <ul class="signs" style="display: flex; flex-wrap: wrap; list-style: none; padding: 10px;">
            {% for feed in feeds %}
            <li>
              <a href="/feeds/{{ feed }}" target="_blank" class="slide-nav btn btn-outline-primary">
                <i class="fa fa-tv"></i>
                  {{ feed }}
              </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="m-2 card" style="flex-grow: 1">
        <div class="card-header">
            <strong class="card-title">Documentation</strong>
        </div>
        <div class="card-body">
            <p>These documents will train you on how to make slides!</p>
            <ul>
                <li>Doc 1</li>
                <li>Doc 2</li>
                <li>Doc 3</li>
                <li>Doc 4</li>
                <li>Doc 5</li>
            </ul>
        </div>
    </div>
    <div class="m-2 card" style="flex-grow: 1">
        <div class="card-header">
            <strong class="card-title">Active Clients</strong>
        </div>
        <div class="card-body">
            {% if clients %}
            {% for client in clients %}
            <p>{{ client }}</p>
            <br>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
