{% extends "base.html" %}
{% block content %}
<div style="display:flex; flex-wrap: wrap;">
    <div class="m-2 card" style="flex-grow: 1">
        <div class="card-header">
            <strong class="card-title">Digital Signage Policies</strong>
        </div>
        <div class="card-body">
            <ul>
              <li>Slides must be in the 16:9 aspect ratio and landscape orientation</li>
              <li>Slides must have dimensions of at least 1920x1080.</li>
              <li>Slides must be under 16mb in size.</li>
              <li>Designs must be submitted in either JPG or PNG file format.</li>
              <li>Signs should follow good design principles (easy to read, sufficient contrast, not too busy, etc.).</li>
              <li>All signs are subject to approval and redesign by staff based on the above graphic design standards.</li>
              <li>Signs should be submitted as well in advance as possible to ensure time for approval and possible revision.</li>
            </ul>
        </div>
    </div>
    <div class="m-2 card" style="flex-grow: 1; max-width: 700px;">
        <div class="card-header">
            <strong class="card-title">Feeds</strong>
        </div>
        <ul class="signs" style="display: flex; flex-wrap: wrap; list-style: none; padding: 10px;">
            {% for feed in feeds %}
            <li>
              <a href="/feeds/{{ feed }}?weather=True&interval=7000&reload=1800000&fullscreen=False" target="_blank" class="slide-nav btn btn-outline-primary">
                <i class="fa fa-tv"></i>
                  {{ feed }}
              </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="m-2 card" style="flex-grow: 1">
        <div class="card-header">
            <strong class="card-title">Documentation</strong>
        </div>
        <div class="card-body">
            <p>These documents will provide the skills and knowledge needed to make well designed and effective digital signage.</p>
            <ul>
                <li><a href="https://medium.com/@anahatrawal/10-basic-principles-of-graphic-design-b74be0dbdb58" target="_blank">Principles of Design</a></li>
                <li><a href="https://medium.freecodecamp.org/fundamental-design-principles-for-non-designers-ad34c30caa7" target="_blank">Design Fundamentals</a></li>
                <li><a href="https://www.youtube.com/watch?v=r0oF81xe440" target="_blank">Layout &amp; Composition: Components of an Image</a></li>
                <li><a href="https://www.youtube.com/watch?v=fENrhRBFS_I" target="_blank">Layout &amp; Composition: Leading the viewer's eye</a></li>
                <li><a href="https://blog.thepapermillstore.com/design-principles-alignment/" target="_blank">Layout &amp; Composition: Using Alignment</a></li>
                <li><a href="https://blog.prototypr.io/importance-of-white-space-in-design-5a40c0e65bfd" target="_blank">Layout &amp; Composition: Using White Space</a></li>
                <li><a href="https://www.youtube.com/watch?v=IzED6Q59DAY" target="_blank">Color: Basics</a></li>
                <li><a href="https://www.youtube.com/watch?v=Qj1FK8n7WgY" target="_blank">Color: Understanding Color</a></li>
                <li><a href="https://www.youtube.com/watch?v=QrNi9FmdlxY" target="">Typography: Basics</a></li>
                <li><a href="https://material.io/design/typography/understanding-typography.html#" target="_blank">Typography: Understanding Type</a></li>
                <li><a href="https://www.youtube.com/watch?v=L3dPrrqO5Rg" target="_blank">Typography: Type Setting</a></li>
                <li><a href="https://www.youtube.com/watch?v=pFyOznL9UvA" target="_blank">Photoshop: Basics</a></li>
                <li><a href="https://www.youtube.com/watch?v=UqjZR_v37K8" target="_blank">Illustrator: Basics</a></li>
                <li><a href="https://www.youtube.com/watch?v=UvWfuNnuJkg&amp;list=PL1t9c--IJQQ_eU6QulIVVfpNjJcIZIEtb" target="_blank">Affinity Designer: Basics</a></li>
            </ul>
        </div>
    </div>
    <!--
    <div class="m-2 card" style="flex-grow: 1">
        <div class="card-header">
            <strong class="card-title">Active Clients</strong>
        </div>
        <div class="card-body">
            {% if clients %}
            {% for client in clients %}
            <p>{{ client }}</p>
            <br>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    -->
</div>
{% endblock %}
