{% extends "base.html" %}

{% block content %}
<style>
    .wrapper {
      justify-content: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    .form-content {
      -webkit-border-radius: 10px 10px 10px 10px;
      border-radius: 10px 10px 10px 10px;
      background: #fff;
      padding: 30px;
      width: 90%;
      max-width: 450px;
      position: relative;
      padding: 20px;
      -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
      box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
      text-align: center;
    }
    .field {
        padding: 10px;
    }
</style>
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <div class="wrapper">
            <div class="form-content">
                <form method="POST" action="/login">
                    <div class="field">
                        <div class="control">
                            <input class="form-control input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="form-control input is-large" type="password" name="password" placeholder="Your Password">
                        </div>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" name="remember">
                            Remember me
                        </label>
                    </div>
                    <button class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}