{% extends "base.html" %}
{% block content %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {% if request.path == '/manager' %}active{% endif %}" aria-current="page" href="/manager">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.path == '/manager/approved' %}active{% endif %}" href="/manager/approved">Approved</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.path == '/manager/waiting' %}active{% endif %}" href="/manager/waiting">Waiting Review</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.path == '/manager/denied' %}active{% endif %}" href="/manager/denied">Denied</a>
  </li>
</ul>
<br>
<table id="data" class="table table-striped">
  <thead>
    <tr>
        <th>Title</th>
        <th>Filename</th>
        <th>Start</th>
        <th>End</th>
        <th>Assigned Feeds</th>
        <th></th>
        <th>Author</th>
        <th>Status</th>
      </tr>
  </thead>
  <tbody>
      {% for user in users %}
        {% if user.approval in filter %}
          <tr>
            <td>{{ user.title }}</td>
            <td>{{ user.slide_path }}</td>
            <td>{{ user.time_start }}</td>
            <td>{{ user.time_end }}</td>
            <td>{% for feed in user.feeds.strip('][').split(', ')  %}{{ feed.strip("'") }} <br> {% endfor %}</td>
            <td><img src="/static/uploads/{{ user.slide_path }}" style='height: 100px;'></td>
            <td>{{ user.submitted_by }}</td>
            <td>{{ user.approval }}</td>
            <td width="100px">
              <i class="fa fa-edit fa-lg" ></i>
              <a href="/edit/{{ user.id }}" class="btn btn-dark btn-sm">Edit</a>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if prev_url %}
    <li class="page-item"><a class="page-link" href="{{ prev_url }}">Newer Slides</a></li>
    {% endif %}
    {% if next_url %}
    <li class="page-item"><a class="page-link" href="{{ next_url }}">Older Slides</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
