{% extends "base.html" %}
{% block content %}
<a class="btn btn-primary m-1" href="/upload"><i class="fa fa-plus"></i> Add New</a>
<div id="table"></div>
{% endblock %}
{% block scripts %}
<script>
    new gridjs.Grid({
        columns: [
          { id: 'id', name: 'id', hidden: true},
          {
            id: 'Preview',
            name: 'Preview',
            formatter: (_, row) => gridjs.html(`<img class="preview" src="/static/uploads/${row.cells[4].data}">`),
            sort: { enabled: false },
            },
          { id: 'title', name: 'Title' },
          { id: 'feeds', name: 'Assigned Feeds' },
          { id: 'slide_path', name: 'Filename', hidden: true},
          {
            id: 'approval',
            name: 'Status',
            formatter: (cell) => gridjs.html(`<p class="badge badge-info" data-val="${cell}">${cell}</p>`),
           },
          { id: 'submitted_by', name: 'Submitted By' },
          { id: 'time_start', name: 'Start' },
          { id: 'time_end', name: 'End' },
         {
            id: 'edit',
            name: '',
            formatter: (_, row) => gridjs.html(`<a class="btn btn-secondary" href="/edit/${row.cells[0].data}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>`),
            sort: { enabled: false },
          },
        ],
        server: {
          url: '/api/slides/user/{{ name }}/',
          then: results => results.data,
        },
        search: true,
        sort: true,
        pagination: true,
        style: {
          td: {
            padding: '5px'
          },
          table: {
            'width': '100%'
          }
        }
      }).render(document.getElementById('table'));
  </script>
{% endblock %}