{% extends "base.html" %}
{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>System ID</th>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>User Type</th>
        <th>Feed Groups</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user['id'] }}</td>
        <td>{{ user['eid'] }}</td>
        <td>{{ user['name'] }}</td>
        <td>{{ user['email'] }}</td>
        <td>{{ user['type'] }}</td>
        <td>{{ user['groups'] }}</td>
        <td>
          <button class="btn btn-sm btn-secondary" onclick="window.location.href='/manager/users/{{ user['id'] }}'">
            <i class="fa fa-edit"></i>
            Edit
          </button>
        </td>
        <td>
          <form action="/api/user/{{ user['email'] }}/delete" method="POST" enctype="multipart/form-data">
            <button type="submit" name="Delete" value="Delete" onclick="validateForm()" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}