{% extends "base.html" %}
{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>User Type</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user['id'] }}</td>
          <td>{{ user['name'] }}</td>
          <td>{{ user['email'] }}</td>
          <td>{{ user['type'] }}</td>
          <td>
            <button class="btn btn-sm btn-secondary"><i class="fa fa-edit"></i> Edit</button>
            <form action="/usermanager" method="POST" enctype="multipart/form-data">
              <input type="hidden" name="user_id" value="{{ user['id'] }}">
              <button type="submit" name="Delete" value="Delete" onclick="validateForm()" class="btn btn-dark btn-sm" style="margin: 5px;"><i class="fa fa-trash"></i> Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
