{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>Admin?</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user['id'] }}</td>
          <td>{{ user['email'] }}</td>
          <td>{{ user['name'] }}</td>
          <td>{{ user['is_admin'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}