{% extends "base.html" %}
{% block content %}
<i class="fa fa-lg fa-filter"></i>
<a class="btn btn-secondary" href="/moderate?filter=Approved">Approved</a>
<a class="btn btn-secondary" href="/moderate?filter=Denied">Denied</a>
<a class="btn btn-secondary" href="/moderate?filter=Waiting Review">Waiting Review</a>
<div id="table"></div>
{% endblock %}
{% block scripts %}
<script>
    new gridjs.Grid({
        columns: [
          { id: 'id', name: 'id', hidden: true},
          {
            id: 'Preview',
            name: 'Preview',
            formatter: (_, row) => gridjs.html(`<img class="preview" alt="slide preview" src="/static/uploads/${row.cells[4].data}">`),
            sort: false,
            },
          { id: 'title', name: 'Title' },
          { id: 'feeds', name: 'Assigned Feeds' },
          { id: 'slide_path', name: 'Filename', hidden: true},
          {
            id: 'approval',
            name: 'Status',
            formatter: (cell) => gridjs.html(`<p class="badge badge-info" data-val="${cell}">${cell}</p>`),
           },
          { id: 'submitted_by', name: 'Submitted By' },
          { id: 'time_start', name: 'Start' },
          { id: 'time_end', name: 'End' },
          {
            id: 'approvals',
            name: '',
            formatter: (_, row) => gridjs.html(
                    `<form action="/api/slides/${row.cells[0].data}/approve" method="POST" enctype="multipart/form-data"><button class="btn btn-success btn-sm"  type="submit" onclick="validateForm()"><i class="fa fa-thumbs-up fa-lg"></i> Approve</button></form>` +
                    `<form action="/api/slides/${row.cells[0].data}/deny" method="POST" enctype="multipart/form-data"><button class="btn btn-danger btn-sm" type="submit" onclick="validateForm()"><i class="fa fa-thumbs-down fa-lg"></i> Deny</button></form>`),
            sort: false,
          },
         {
            id: 'edit',
            name: '',
            formatter: (_, row) => gridjs.html(
                    `<a class="btn btn-secondary" href="/edit/${row.cells[0].data}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>` +
                    `<form action="/api/slides/${row.cells[0].data}/delete" method="POST" enctype="multipart/form-data">` +
                    '<button type="submit" name="Delete" value="Delete" onclick="validateForm()" class="btn btn-dark btn-sm"><i class="fa fa-trash fa-lg"></i> Delete</button>' +
                    '</form>'),
            sort: false,
          },
        ],
        server: {
          url: '/api/slides/{{ request.args.get("filter") }}/',
          then: results => results.data,
        },
        search: true,
        sort: true,
        pagination: true,
        style: {
          td: {padding: '6px 12px'},
          table: {width: "100%"}
        }
      }).render(document.getElementById('table'));
  </script>
{% endblock %}