{% extends "base.html" %}
{% block content %}
<form method = "POST" enctype = "multipart/form-data">
    <br>
    <div class="textbox sign-up-textbox">
        <label for="duration">Slide Duration (in milliseconds)</label>
        <input type="number" id="duration" name="duration">
        <br>
        <br>
        <label for="duration">Allow user signups? Enter 0 or 1</label>
        <input type="number" id="allow_signups" name="allow_signups">
    </div>
    <br>
    <button class="btn btn-primary" type="submit" onclick="validateForm()" name="submit">Update Settings</button>
</form>
{% endblock %}
