{% extends "base.html" %}
{% block content %}
<form action="/api/feeds/add" method="POST" enctype="multipart/form-data">
  <label for="feed_name">New Feed Name</label>
  <input type="text" name="feed_name" id="feed_name">
  <button type="submit" name="Delete" value="Delete" onclick="validateForm()" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> Add New Feed</button>
</form>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Feeds</th>
      </tr>
    </thead>
    <tbody>
      {% for feed in feeds %}
        <tr>
          <td>{{ feed.name }}</td>
          <td>
            <form action="/api/feeds/delete" method="POST" enctype="multipart/form-data">
              <input type="hidden" name="feed_id" value="{{ feed.id }}">
              <button type="submit" name="Delete" value="Delete" onclick="validateForm()" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
