{% extends "base.html" %}
{% block content %}
<div class="d-flex flex-row">
   <div class="p-3">
     <form action="/upload" method="POST" enctype="multipart/form-data">
      <br>
      <input type = "file" name = "file" onchange="loadFile(event)" required />
         <p>Only accepts .jpg, .jpeg, .png, and .mp4 video files</p>
      <div class="textbox">
         <label for="title">Slide Name</label>
         <input class="form-control" id="title" type="text" placeholder="World Backup Day" name="title" onfocus="this.placeholder = ''" onblur="this.placeholder = 'World backup Day'" required>
      </div>
      <br>
      <div class="textbox sign-up-textbox">
         <label for="time_start">Slide Start Date: </label>
         <input type="date" id="time_start" name="time_start" required>
      </div>
      <br>
      <div class="textbox sign-up-textbox">
         <label for="time_end">Slide End Date: </label>
         <input type="date" id="time_end" name="time_end" required>
      </div>
      <br>
      <strong>Feed Assignment</strong>
      <div class="form-check">
         <input class="form-check-input" type="checkbox" onClick="toggle(this)" id="feed_assign"/>
         <label for="feed_assign" class="form-check-label">Toggle All</label>
      </div>
     {% for feed in feeds %}
     <div class="form-check">
         <input class="form-check-input" type="checkbox" value="{{ feed.name }}" name="feeds" id="feeds">
         <label for="feeds" class="form-check-label">{{ feed.name }}</label>
      </div>
     {% endfor %}
     <br>
     <button class="btn btn-primary" type="submit" onclick="validateForm()" name="submit">Submit Slide</button>
   </form>
   </div>
   <div class="p-2">
     <img src="" id="output" style="max-width: 1000px; padding-left: 100px;" alt="slide preview"/>
     <script>
        var loadFile = function(event) {
          var output = document.getElementById('output');
          output.src = URL.createObjectURL(event.target.files[0]);
          output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
          }
        };
      </script>
  </div>
</div>
<script>
   function toggle(source) {
     checkboxes = document.getElementsByName('feeds');
     for(var i=0, n=checkboxes.length;i<n;i++) {
       checkboxes[i].checked = source.checked;
     }
   }
</script>
{% endblock %}
